:root {
    --theme-color: white;
    --color1: #487353;
    --color2: #4B93BF;
    --color3: #425948;
    --color4: #deece2;
    --colorFondo: #768f7d;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shadow-color: #e5e5e5;
    --menu-mobile-background-color: #425948;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
}



.home {
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.onda {
    min-height: 100vh;
    width: 100%;
    background: var(--colorFondo);
    left: 0;
    top: 10;
    width: 100%;
    position: fixed;
}

.logo {
    width: 30vw;
    /* 50% del ancho de la ventana */
    height: auto;
    margin-top: 5%;
    margin-left: 10%;
}

svg {
    position: absolute;
    bottom: 0;
    left: 0
}

.componentes {
    min-height: 100vh;
    width: 100%;
    background: var(--color3);
    left: 0;
    top: 10;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    height: 100vh;


}

.containerInicio {
    max-height: 100vh;
    overflow-y: scroll;

}

.card {
    margin: 20px;
    top: 20px;

}

.card-body {
    background: var(--color4);
    border-radius: 3px;
}

.cardTemas {
    margin: 20px;

}

.imgPipas {
    width: 100%;
}

.iconosServicios {
    width: 100%;
    border-radius: 6px;
}

.iconosInicio {
    width: 50%;
    border-radius: 6px;
}

.nomostar {
    color: white;
}

.footer {
    background-color: var(--colorFondo);
    text-align: center;
}

.titulosInicio {
    color: #333434;
    size: auto;
}

.sloganInicio {
    margin-left: 10%;
    color: #333434;
    font-style: italic;
}

b {
    color: #deece2
}

.button-container {
    text-align: right;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: var(--colorFondo);
    color: var(--color4);
    background-color: var(--colorFondo);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

}

.button:hover {
    background-color: var(--color3);
}

.resena-titulo {
    text-align: center;
    color: var(--color3);
}

.footer-item {
    color: var(--colorFondo);
}

.computadora {
    display: flex;
}

.celular {
    display: none;
}

@media screen and (max-width: 400px) {
    .computadora {
        display: none;
    }

    .celular {
        display: block;
        max-height: 100vh;
        overflow-y: scroll;
    }

    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .row {
        flex-direction: column;
        text-align: center;
    }

    .col-12 {
        width: 100%;
    }

    .logo {
        width: 80%;
        margin-left: 10%;
    }

    .iconosInicio {
        width: 20%;
        margin-left: 40%;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .titulosInicio {
        font-size: 100%;
    }

    .sloganInicio {
        margin-left: 10%;
        color: #333434;
        font-style: italic;
        font-size: 100%;
    }

    
}