.topheader {
    /* box-shadow: 0 5px 5px var(--navbar-shadow-color); */
    position: fixed;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    max-width: 980px;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--color2);
}

.imgLogo {
    left: 10%;
    top: 2%;
    position: fixed;
    width: 8%;
    /* 50% del ancho de la ventana */
    height: auto;
}

/*Menú*/
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px;

}

.menu a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}




.menu a:hover {
    color: var(--color3);
}

@media screen and (max-width: 800px) {
    .imgLogo {
        display: none;
    }

    .menu li {
        padding: 0 10px;
    }

    .menu a {
        font-size: 80%;
        line-height: 40px;
    }

    .topnav {
        justify-content: center;
    }
}