:root {
  --theme-color: white;
  --color1: #487353;
  --color2: #4B93BF;
  --color3: #425948;
  --color4: #9b9b9b;
  --text-color-inverse: white;
  --text-color: black;
  --navbar-shadow-color: #e5e5e5;
  --menu-mobile-background-color: #425948;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  /* overflow-y: scroll; 
  height: 100vh; */
  
}

a {
  text-decoration: none;
  color: var(--text-color)
}